* {
    box-sizing: border-box;
    padding:0%;
    margin: 0%;
}
.scarpe1 {
    background-color: red;
    height: 913px;
    position: relative;
}
.scarpe2 {
    background-color: green;
    height: 913px;
    position: relative;
}
.scarpe3 {
    background-color: yellow;
    height: 913px;
    position: relative;
}
.img4 {
    color: yellow;
    font-size: 45px;
    font-family:Rubik Mono One;
    text-align: center;
}
.img5 {
    text-align: center;
    color: yellow;
    font-size: 45px;
    font-family:Rubik Mono One;
}
.img6 {
    text-align: center;
    color: green;
    font-size: 45px;
    font-family:Rubik Mono One;
}
.bottone1 {
   background-color: white;
   width: 40px;
   height: 40px;
   border-radius: 100%;
   margin-top: 2rem;
   margin-left: 89%;
   margin-right: 20px;
   font-size: 15px;
}
.bottone2 {
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 20px;
    font-size: 15px;
}
.bottone3 {
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 15px;
}
.bottone1:active {
    scroll-behavior: auto;

}
.abso1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    
}
.abso2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
}
.abso3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
}
.premere {
    position: absolute;
   
}
.bottone1 {
    margin-left: 1400px;
    margin-top: 20px;
}